@{
    ViewBag.Title = "AdminUpdateProfile";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@using EAD_project.Models;

@*============Middle Div about Update Profile *@

<div class="col-sm-5" style="margin:0px; padding:0px">

    <div class="panel panel-danger" style="margin:80px 0px 0px 80px">
                
        <div class="panel-heading">
            <span><b>Update Profile</b></span>
        </div>
                
        <div class="panel-body">
            <br/>
        <form action="/Admin/AdminUpdateProfileNow/@Session["adminId"]" class="form-horizontal" role="form">

            <div class="form-group">
                <label class="control-label col-sm-3" for="adminName">Name: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="adminName" placeholder="@Model.name" />
                </div>
            </div>
                                
            <div class="form-group">
                <label class="control-label col-sm-3" for="adminAddress">Address: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="adminAddress" placeholder="@Model.address" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="adminAddress">Branch: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="branch" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3" for="phone">Phone: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="phone" placeholder="@Model.phone" required />
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Submit" class="btn btn-danger" style="margin-left:28.2%; width:43%" />
                </div>
            </div>

        </form>
   </div>
    </div>
</div>