@{
    ViewBag.Title = "AdminChangePassword";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@*============Middle Div about Change Password *@

<div class="col-sm-5" style="margin:0px; padding:0px">

    <div class="panel panel-danger" style="margin: 80px 0px 0px 80px">
                
        <div class="panel-heading">
            <span><b>Change Password</b></span>
        </div>
                
        <div class="panel-body">
            <br/>
            <form action="../Admin/AdminChangePasswordNow/@Session["adminId"]" class="form-horizontal" role="form">

                <div class="form-group">
                    <label class="control-label col-sm-4" for="oldPassword">Old Password:</label>
                    <div class="col-sm-7 row">
                        <input type="password" name="oldPassword" id="oldPassword" onchange="verify()" placeholder="Enter Password" style="float:left; width:69%" class="form-control" required/>
                        <p style="margin-top:8px; float:right; color:#a94442"><b id="message"></b></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-4" for="password">New Password:</label>
                    <div class="col-sm-7 row">
                        <input type="password" name="newPassword" id="pass1" placeholder="Enter Password" style="float:left; width:69%" class="form-control" required/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-4" for="password">Confirm Password:</label>
                    <div class="col-sm-7 row">
                        <input type="password" name="conPassword" id="pass2" onkeydown="pass()" onkeyup="pass()" placeholder="Enter Password" style="float:left; width:69%" class="form-control" required/>
                        <p id="show" style="margin-top:8px; float:right; color:#a94442"></p>
                    </div>
                </div>
                
                <div class="form-group">
                    <div>
                        <input type="submit" value="Submit" id="done" disabled class="btn btn-danger" style="margin-left:36.5%; width:36%" />
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<script>

function verify() {
    var oldPassword = $('#oldPassword').val();

    //alert('User Name ='+ userId);
    $.getJSON("/Admin/AdminVerifyPassword?oldPassword=" + oldPassword, function (data) {
        if (data) {
            $('#message').text("Wrong!");
        }
        else {
            $('#message').text("Correct!");
        }
    });
}

function pass() {

    var first = document.getElementById('pass1').value;
    var second = document.getElementById('pass2').value;

    if (first == second) {
        $('#done').removeAttr('disabled');
        document.getElementById('show').innerHTML = "<b>Matched!</b>";
    }
    else {
        $('#done').attr('disabled', true);
        document.getElementById('show').innerHTML = "<b>Not Match!</b>";
    }
}
</script>