@{
    ViewBag.Title = "about us";
}

<!DOCTYPE html>
<html lang="en">

        <!--========================================================
                                  CONTENT
        =========================================================-->
        <main class="text-center">
            <!--section1-->
            <section class="well1">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-4 col-sm-6">
                            <h3>about us</h3>
                            <div class="thumbnail-2">
                                <div class="img-circle img-wrap bg-success">
                                    <img class="img-circle" src="~/content/images/page-2_img01.jpg" alt="" />
                                </div>
                                <div class="caption">
                                    <h4 class="left-sm"><a href="#">Patience & persistence give good results</a></h4>
                                    <p class="left-sm txt-sec-4">Achieving the desired success requires patience and persistence. Your goals need time. You must study, improve yourself, go towards your target with patience. With a deeper thinking you'll see the importance of your life. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h3>our history</h3>
                            <article class="left-sm">
                                <time datetime="1857-02-18">18 February, 1990</time>
                                <h4><a href="#">Where we started</a></h4>
                                <p class="txt-sec-4">
                                    In 1990, one hundred educators answered a call to unite as one voice in the cause of public education. At the time, learning to read and write
                                    was a luxury for most children.
                                </p>
                            </article>
                            <article class="left-sm">
                                <time datetime="1966-04-22">28 April, 2000</time>
                                <h4><a href="#">Step by step</a></h4>
                                <p class="txt-sec-4">In 2000 we joined forces with the American Teachers Association. Since then, and what was once a privilege for a fortunate few is now an essential right for every child.</p>
                            </article>
                            <article class="left-sm">
                                <time datetime="2015-08-26">26 August, 2015</time>
                                <h4><a href="#">Our development</a></h4>
                                <p class="txt-sec-4">Since its beginning, the National Education Association has been ahead of its time, crusading for the rights of all educators and children.</p>
                            </article>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <h3>Additional Courses</h3>
                            <h4 class="left-sm">Get started now!</h4>
                            <p class="txt-sec-4 left-sm">Personal and professional development is key for job satisfaction and advancement. Keep growing and learning with online courses, training and continued education.</p>
                            <ul class="marked-list text-left">

                                <li><a href="#"><b>Science Subjects</b></a></li>
                                <li><a href="#">Biology</a></li>
                                <li><a href="#">Physics</a></li>
                                <li><a href="#">Chemistry</a></li>
                                <li><a href="#">Computer Sciences</a></li>
                                <li><a href="#">Fully developed labs and apparatus</a></li>
                                <li><a href="#"><b>compulsory Subjects</b></a></li>
                                <li><a href="#">Mathematics</a></li>
                                <li><a href="#">English</a></li>
                                <li><a href="#">Urdu</a></li>
                                <li><a href="#">Islamiyat</a></li>
                                <li><a href="#">Pak Studies</a></li>
                                <li><a href="#"><b>Arts Subjects</b></a></li>
                                <li><a href="#">General Science</a></li>
                                <li><a href="#">Islamiyat Elective</a></li>
                                <li><a href="#">Home Economics / Computer</a></li>
                                <li><a href="#">Practical Facility for science subjects</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!--END section1-->
            <!--section2-->
            <section class="well1 bg-variant-1">
                <div class="container">
                    <h3>our teachers</h3>
                    <div class="row left-sm">
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail-5">
                                <div class=" img-wrap bg-warning">
                                    <img src="~/content/images/page-2_img02.jpg" alt="" />
                                </div>
                                <div class="caption">
                                    <h4><a href="#">John Anderson</a></h4>
                                    <p class="txt-sec-4">English Teacher</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail-5">
                                <div class=" img-wrap bg-variant-3">
                                    <img src="~/content/images/page-2_img03.jpg" alt="" />
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Olivia Grosh</a></h4>
                                    <p class="txt-sec-4">Geography Teacher </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail-5">
                                <div class=" img-wrap bg-success">
                                    <img src="~/content/images/page-2_img04.jpg" alt="" />
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Patrick Pool</a></h4>
                                    <p class="txt-sec-4">Science Teacher </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail-5">
                                <div class=" img-wrap bg-warning">
                                    <img src="~/content/images/page-2_img05.jpg" alt="" />
                                </div>
                                <div class="caption">
                                    <h4><a href="#">Jessica Priston</a></h4>
                                    <p class="txt-sec-4">History Teacher</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--END section2-->
            <!--section3-->
            <section class="well1 bg-variant-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <h3>why us?</h3>
                            <ol class="index-list left-xs">
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="icon icon-md icon-info counter"></span>
                                        </div>
                                        <div class="media-body">
                                            <h4><a href="#">Our mission</a></h4>
                                            <p>We transform students, schools, and communities through professional preparation, collaborative partnerships.</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="icon icon-md icon-primary  counter"></span>
                                        </div>
                                        <div class="media-body">
                                            <h4><a href="#">Our vision</a></h4>
                                            <p>To be a model of excellence for solving complex educational problems through innovative and participatory teaching. </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <div class="media-left">
                                            <span class="icon icon-md icon-danger  counter"></span>
                                        </div>
                                        <div class="media-body">
                                            <h4><a href="#">Our goal</a></h4>
                                            <p>We are dedicated to helping you achieve your goals by a flexible programs tailored to suit individual needs. </p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                       
                        <div class="col-md-6 col-sm-12">
                            <h3>testimonials</h3>
                            <blockquote class="left-sm">
                                <p><q>The welcoming atmosphere of the school attracted me.</q></p>
                                <p>
                                    <q>
                                        If students are looking for new learning opportunities, this School is the best place I can recommend. I would like to thank you for your endless support throughout my education process.
                                        I will never forget your help.
                                    </q>
                                </p>
                                <p class="txt-sec-4"><cite>Hammad Raza</cite>, student</p>
                            </blockquote>
                            <blockquote class="left-sm">
                                <p><q>I am so grateful to the School. You have helped me to develop professionally and academically.</q></p>
                                <p>
                                    <q>
                                        I was very happy and excited to study there.
                                        I loved learning in a friendly atmosphere with students who wanted to meet the same career
                                        goals.
                                    </q>
                                </p>
                                <p class="txt-sec-4"><cite>bilal Jamshed</cite>, student</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </section>
            <!--END section3-->

        </main>
        <!--========================================================
                                  FOOTER
        =========================================================-->
      
    <!--<div style="height:1000px; background:#ccc;"></div>-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/script/js/bootstrap.min.js"></script>
    <script src="~/script/js/tm-scripts.js"></script>
    <!-- </script> -->
    <!-- begin olark code -->
    <script data-cfasync="false" type='text/javascript'>
/*<![CDATA[*/window.olark || (function (c) {
var f = window, d = document, l = f.location.protocol == "https:" ? "https:" : "http:", z = c.name, r = "load"; var nt = function () {
    f[z] = function () {
        (a.s = a.s || []).push(arguments)
    }; var a = f[z]._ = {
    }, q = c.methods.length; while (q--) {
        (function (n) {
            f[z][n] = function () {
                f[z]("call", n, arguments)
            }
        })(c.methods[q])
    } a.l = c.loader; a.i = nt; a.p = {
        0: +new Date
    }; a.P = function (u) {
        a.p[u] = new Date - a.p[0]
    }; function s() {
        a.P(r); f[z](r)
    } f.addEventListener ? f.addEventListener(r, s, false) : f.attachEvent("on" + r, s); var ld = function () {
        function p(hd) {
            hd = "head"; return ["<", hd, "></", hd, "><", i, ' onl' + 'oad="var d=', g, ";d.getElementsByTagName('head')[0].", j, "(d.", h, "('script')).", k, "='", l, "//", a.l, "'", '"', "></", i, ">"].join("")
        } var i = "body", m = d[i]; if (!m) {
            return setTimeout(ld, 100)
        } a.P(1); var j = "appendChild", h = "createElement", k = "src", n = d[h]("div"), v = n[j](d[h](z)), b = d[h]("iframe"), g = "document", e = "domain", o; n.style.display = "none"; m.insertBefore(n, m.firstChild).id = z; b.frameBorder = "0"; b.id = z + "-loader"; if (/MSIE[ ]+6/.test(navigator.userAgent)) {
            b.src = "javascript:false"
        } b.allowTransparency = "true"; v[j](b); try {
            b.contentWindow[g].open()
        } catch (w) {
            c[e] = d[e]; o = "javascript:var d=" + g + ".open();d.domain='" + d.domain + "';"; b[k] = o + "void(0);"
        } try {
            var t = b.contentWindow[g]; t.write(p()); t.close()
        } catch (x) {
            b[k] = o + 'd.write("' + p().replace(/"/g, String.fromCharCode(92) + '"') + '");d.close();'
        } a.P(2)
    }; ld()
}; nt()
})({
    loader: "static.olark.com/jsclient/loader0.js", name: "olark", methods: ["configure", "extend", "declare", "identify"]
});
        /* custom configuration goes here (www.olark.com/documentation) */
        olark.identify('7830-582-10-3714');/*]]>*/</script><noscript><a href="https://www.olark.com/site/7830-582-10-3714/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
    <!-- end olark code -->

</body><!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-N7VWVN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-N7VWVN');</script> <!-- End Google Tag Manager -->
</html>

