@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OperationFailed</title>

    <Link href="~/Content/bootstrap.css" rel="stylesheet">
    <Script src="~/Script/bootstrap.js"></Script>

</head>
<body>
    <div class="col-sm-6" style="margin-left:25.5%; margin-top:5%; padding:10px">

        <div class="panel panel-success" style="border-color:#003366">                
    
            <div class="panel-heading" style="color:white; border-color:#003366; background-color:#003366">
                <span>Operation Failed</span>
            </div>
            <div class="panel-body">
                <h2 style="color:#aa0200; margin-bottom:30px">Sorry!</h2>
                <h4>Your request cant be granted.
                    Because you are doing things that are either you have been already done or not allowed.</h4>
                <p style="width:20%"><a href="../Home/LogIn"><input type="submit" value="Back" name="submit"></p></a>
            </div>

        </div>
    </div>
</body>
</html>
